.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  z-index: 10;
}